
body{
    margin:0;
    padding: 0;
}
.set-height{
    line-height: 99px;
}
.text-center{
    text-align: center;
}

#userError{
    display: none;
}

.breadcrumb > li + li:before {
     color: #aaa;
}
#comment{
    height: 243px;
}
.contain-loading{
    position: relative;
}
.loading{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    top: 0;
    left: 50%;
    display:none;
} 