<<<<<<< HEAD
body{
    margin:0;
    padding: 0;
}
.set-height{
    line-height: 99px;
}
.text-center{
    text-align: center;
}

#userError{
    display: none;
=======

.breadcrumb > li + li:before {
     /*content: "" !important;*/
     color: #aaa;
>>>>>>> 5a52270512403855aaac7d7329be6187b0abf28a
}